input {
  width: 270px;
  height: 30px;
  padding: 0 2px;
  background: #202020;
  border-radius: 3px;
}

span:after {
	display: inline-block;
	position: relative;
	right: 25px;
  content: '';
  background: url('https://assets-cdn.github.com/images/search-shortcut-hint.svg') no-repeat center;
  width: 20px;
  height: 20px;
}
