.checkAllInput {
  position: absolute;
  visibility: hidden;
}

.checkAllInput + label {
  position: absolute;
  top: 20px;
}

.checkAllInput:checked + label:before {
  color: #808080;
}

.checkAllInput + label:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

